[Unit]
Requires=wallhack-server.socket
After=wallhack-server.socket

[Service]
Type=notify
ExecStart=/usr/bin/wallhack --server
User=wallhack
LoadCredentialEncrypted=key:/etc/wallhack/key
LoadCredentialEncrypted=cert:/etc/wallhack/cert
LoadCredentialEncrypted=ca:/etc/wallhack/ca
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
MountFlags=private
NoNewPrivileges=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_NETLINK AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SecureBits=noroot-locked
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
UMask=0077

[Install]
WantedBy=multi-user.target
